@media screen and (min-width:320px) and (max-width:570px){

.proud span {
    margin-left: 0 !important;
}

#starnow{
    padding: 10px 5px !important;
}
#taketour{
    padding: 10px 5px !important;
}
.studyimage {
    width: 100% !important;
    height: 17rem !important;
    margin-top: 3rem !important;
}
.trust span {
 
    padding: 1rem 0rem !important;
}
.compititionbox1 {
   
    width: 100% !important;
}
.compititionbox2 {
   
    width: 100% !important;
    margin-top: 1rem !important;
}
.compititionbox3 {
   
    width: 100% !important;
}
.compititionbox4 {
   
    width: 100% !important;
    margin-top: 1rem !important;
}
.compititionbox5 {
   
    width: 100% !important;
}
.compititionbox6 {
   
    width: 100% !important;
    margin-top: 1rem !important;
}
#emailform{
    margin-bottom: 1rem !important;
}

.trust span  {
    margin: 1rem 2rem !important;
    gap: 10px !important;
    flex-wrap: wrap !important;
    display: flex !important;
    justify-content: center;
    align-items: flex-start;
     font-size: unset !important;
}


.proud h1{
    font-size: 25px !important;
}
} 

    







@media screen and (min-width:570px) and (max-width:1024px){

    .studyimage {
        width: 100% !important;
        
    }
    .trust span {
    
        padding: 2rem 0rem !important;
    }
    .compititionbox1 {
      
        width: 100% !important;
    }
    .compititionbox2 {
      
        width: 100% !important;
        margin-top: 1rem !important;
    }
    .compititionbox3 {
      
        width: 100% !important;
    }
    .compititionbox4 {
        margin-top: 1rem !important;
      
        width: 100% !important;
    }
    .compititionbox5 {
      
        width: 100% !important;
    }
    .compititionbox6 {
        margin-top: 1rem !important;
      
        width: 100% !important;
    }
    #emailform{
        margin-bottom: 20px;
    }

    .trust span a {
         margin: 0px 0px !important;

    }
    .studyimage {
        margin-top: 3rem !important;
    }
    .compitition{
        padding: 3rem !important;
    }
}





@media screen and (min-width:1024px) and (max-width:1525px){

    .compititionbox1 {
        margin-top: 0 !important;
    }
    .compititionbox3 {
        margin-top: 0 !important;
    }
    .compititionbox5 {
        margin-top: 0 !important;
    }

}